/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.background{
	-fx-background-color:#2a323c;
}

.primary{
    -fx-background-color:#2384fb;
}

.secondary{
    -fx-background-color:#FF70D7;
}

.error{
    -fx-background-color:#CA2E55;
}

.warning{
    -fx-background-color:#F4AC45;
}
.card{
    -fx-background-color:#4c5a6b;
    -fx-background-radius:25;
}
.teamDashboardBanner{
    -fx-background-image: url('teamDashboardBanner.jpg');
    -fx-background-size: 100% 100%;
}

.Button{
    -fx-font-size: 18;
    -fx-background-radius:25;
}


.primaryButton{
    -fx-background-color:#2384fb;
    -fx-text-fill:white;
}

.primaryButton:hover{
    -fx-background-color:#03418c;
}

.secondaryButton{
    -fx-background-color:#FF70D7;
    -fx-text-fill:white;
}

.secondaryButton:hover{
    -fx-background-color:#8f0066
}

.font{
    -fx-font-family:"Sans-serif";
}

.tableView{
    -fx-text-fill:white;
}

.titleBannerBackground{
 -fx-background-color:#AB2346
}